*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #1A0B2E;
}
/*common code*/

.primary-btn{
    color: #ffffff;
    padding: 12px 16px;
    background: linear-gradient( to top right, #f7e93f,#fb09b4,
        #9100fb
    );
    border-radius: 12px;
    border: none;
    display: flex;
    gap: 4px;
    align-items: center;
}



/* unic code*/
nav{
    max-width: 1600px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 32px;
    margin: 0 auto;
    border-bottom: 1px solid #ffffff25;
    padding-bottom: 16px;

}
nav ul{
    list-style: none;
    display: flex;
    gap: 32px;
}
nav ul li a{
    text-decoration: none;
    color: #ffffff;
    font-size: 1rem;
    font-weight: 500;
}
#banner{
    max-width: 1600px;
    background-image: url(../images/assets/hero-bg.png);
}
.banner-container{
    width: 33%;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    

}


.img-box{
   /*position: absolute;*/
  margin-bottom: 40px;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
}


.img-box .img-2{
    position: relative;
    left: -220px;
    top: -75px; 
}
.banner-container h2{
    color: #ffffff;
    font-size: 3.8rem;
    font-weight: bolder;
    margin-bottom: 24px;
}
.banner-container p{
    color: #ffffff;
    font-size: 1rem;
    margin-bottom: 24px;
}
.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    margin-bottom: 100px;
}
.btn .subscribe-btn{
    padding: 12px 20px;
    color: #00ff88;
    border-radius: 12px;
    display: flex;
    gap: 8px;
    background: transparent;
    border: 1px solid #00ff88;

}
