*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*body{
     background-color: #1A0B2E;
}*/

/*common code*/

.primary-btn{
    color: #ffffff;
    padding: 12px 16px;
    background: linear-gradient( to top right, #f7e93f,#fb09b4,
        #9100fb
    );
    border-radius: 12px;
    border: none;
    display: flex;
    gap: 4px;
    align-items: center;
}
.common-type{
    color: #ffffff;
    font-size: 1rem;
    margin-bottom: 24px;
    line-height: 20px;
}

    .number{
    color: #00ff88;
    font-size: 48px;
    margin-bottom: 16px;

    }
    .card-heading{
        font-size: 24px;
        font-weight: bold;
    }
    .card-text{
       font-size: 16px;
       line-height: 24px; 
    }




/* unic code*/
nav{
    max-width: 1600px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 32px;
    margin: 0 auto;
    border-bottom: 1px solid #ffffff25;
    padding-bottom: 16px;
     background-color: #1A0B2E;
    

}
nav ul{
    list-style: none;
    display: flex;
    gap: 32px;
}
nav ul li a{
    text-decoration: none;
    color: #ffffff;
    font-size: 1rem;
    font-weight: 500;
}
#banner{
    max-width: 1600px;
    background-image: url(../images/assets/hero-bg.png);
    background-position: center;
}
.banner-container{
    width: 33%;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    

}


.img-box{
   position: relative;
  margin-bottom: 40px;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
}


.img-box .img-2{
    position: absolute;
    left: 110px;
    top: 80px; 
}
.banner-container h2{
    color: #ffffff;
    font-size: 3.8rem;
    font-weight: bolder;
    margin-bottom: 24px;
}

.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    margin-bottom: 100px;
}
.btn .subscribe-btn{
    padding: 12px 20px;
    color: #00ff88;
    border-radius: 12px;
    display: flex;
    gap: 8px;
    background: transparent;
    border: 1px solid #00ff88;

}
#podcast{
    max-width: 1600px;
     background-color: #1A0B2E;
     margin: 0 auto;
}
.podcast-container{
    width: 75%;
    text-align: center;
    margin: 0 auto;

}
.section-heading{
    color: #ffffff;
    font-size: 4rem;
    font-weight: bold;
    padding-top: 50px;
    margin-bottom: 8px;
}
.ratio{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 120px;
}
#choosing{
    max-width: 1600px;
    background-color: #230e3d;
}
.choosing-container{
    max-width: 1200px;
    width: 75%;
    
    margin: 0 auto;
    text-align: center;
}
.facilities{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    margin: 0 auto;
    gap: 30px;
    
    grid-template-areas:
     "card-1 card-2 card-2"
     "card-1 card-3 card-3"
     "card-4 card-4 card-5" 
    ;
    padding-top: 40px;
    padding-bottom: 120px;

}
.card-1{grid-area: card-1;}
.card-2{grid-area: card-2;}
.card-3{grid-area: card-3;}
.card-4{grid-area: card-4;}
.card-5{grid-area: card-5;}

.facilities .card-1, .card-2, .card-3, .card-4, .card-5{

    background-color: #351165;
    border-radius: 40px;
    color: #ffffff;
    padding: 40px;
    display: grid;
    gap: 16px;
    
    text-align: start;
    
}#podcast{
    max-width: 1600px;
     background-color: #1A0B2E;
     margin: 0 auto;
}
.podcast-container{
    width: 75%;
    text-align: center;
    margin: 0 auto;

}
.section-heading{
    color: #ffffff;
    font-size: 4rem;
    font-weight: bold;
    padding-top: 50px;
    margin-bottom: 8px;
}
.ratio{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 120px;
}
#choosing{
    max-width: 1600px;
    background-color: #230e3d;
}
.choosing-container{
    max-width: 1200px;
    width: 75%;
    
    margin: 0 auto;
    text-align: center;
}
.facilities{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    margin: 0 auto;
    gap: 30px;
    
    grid-template-areas:
     "card-1 card-2 card-2"
     "card-1 card-3 card-3"
     "card-4 card-4 card-5" 
    ;
    padding-top: 40px;
    padding-bottom: 120px;

}
.card-1{grid-area: card-1;}
.card-2{grid-area: card-2;}
.card-3{grid-area: card-3;}
.card-4{grid-area: card-4;}
.card-5{grid-area: card-5;}

.facilities .card-1, .card-2, .card-3, .card-4, .card-5{

    background-color: #351165;
    border-radius: 40px;
    color: #ffffff;
    padding: 40px;
    display: grid;
    gap: 16px;
    
    text-align: start;
    
}

