*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #1A0B2E;
}
/*common code*/

.primary-btn{
    color: #ffffff;
    padding: 12px 16px;
    background: linear-gradient( to top right, #f7e93f,#fb09b4,
        #9100fb
    );
    border-radius: 12px;
    border: none;
    display: flex;
    gap: 4px;
    align-items: center;
}



/* unic code*/
nav{
    max-width: 1600px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 32px;
    margin: 0 auto;
    border-bottom: 1px solid #ffffff25;
    padding-bottom: 16px;

}
nav ul{
    list-style: none;
    display: flex;
    gap: 32px;
}
nav ul li a{
    text-decoration: none;
    color: #ffffff;
    font-size: 1rem;
    font-weight: 500;
}
